# ========================
# NODE / JAVASCRIPT
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ========================
# ENV FILES (IMPORTANT)
# ========================
.env
.env.*
!.env.example

# ========================
# BUILD OUTPUTS
# ========================
dist/
build/
coverage/

# ========================
# VITE
# ========================
.vite/

# ========================
# TYPESCRIPT
# ========================
*.tsbuildinfo

# ========================
# LOGS
# ========================
logs/
*.log

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# EDITORS / IDEs
# ========================
.vscode/
.idea/
*.swp
*.swo

# ========================
# DATABASE
# ========================
data/
dump/

# ========================
# MISC
# ========================
*.local
.cache/
.temp/

Online-Learning.mov